<div class="page-section no-bg">
    <div class="">
        <div class="pt-3 page-head-section">
            <button class="btn btn-link btn-back" (click)="navigationTo('/login', 'slideright')">BACK</button>
        </div>
        <div class="mt-2">
            <form #passwordForm="ngForm" (ngSubmit)="createAccount(passwordForm)">
                <div class="form-group">
                    <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Enter email" type="email" class="form-control" id="email" required name="email" [(ngModel)]="user.email" #email="ngModel" />
                </div>
                <div class="form-group">
                    <input placeholder="Enter password" type="password" class="form-control" id="password" required name="password" [(ngModel)]="user.password" #password="ngModel" />
                </div>
                <div class="form-group">
                    <input placeholder="Re-enter password" type="password" class="form-control" id="confirmpassword" required name="confirmpassword" [(ngModel)]="user.confirmpassword" #confirmpassword="ngModel" />
                </div>
                <div class="mt-2">
                    <button [disabled]="passwordForm.invalid" type="sumbit" class="btn prime col-8 offset-2" > Create my account </button>
                </div>
            </form>
        </div>
    </div>
</div>