<div class="page-section">
    <div class="container-fluid">
        <div class="row pt-3">
            <button class="btn btn-link btn-back" (click)="app.navigateByUrl('/login', 'slideright')">BACK</button>
        </div>
        <div class="row mt-2">
            <div class="btn col-12 font-weight-bold glory" (click)="setRoleTypeAndNavigate('CUSTOMER','/create-account-authority', 'slideleft')"> I am looking for service </div>
        </div>
        <div class="row mt-2">
            <div class="btn col-12 font-weight-bold glory" (click)="setRoleTypeAndNavigate('PROVIDER','/login', 'slideleft')"> I provide service </div>
        </div>
    </div>
</div>