<div class="page-section no-bg">
    <div class="container-fluid">
        <div class="row pt-3 page-head-section">
            <button class="btn btn-link btn-back" (click)="app.navigateByUrl('/create-account-password', 'slideright')">BACK</button>
        </div>
        <form #codeVerifyForm="ngForm">
            <div class="row mt-3">
                <input placeholder="enter verification code" class="col-12 " type="text" [(ngModel)]="verificationCode" #authcode="ngModel" name="authcode" id="authcode" />
            </div>
            <div class="row mt-3">
                <button class=" col-10 offset-1 btn btn-link glory" (click)="resendVerificationCode()">Send me a new code </button>
            </div>
            <div class="row mt-2">
                <button class="btn prime col-8 offset-2" (click)="verify()"> Verify </button>
            </div>
        </form>

    </div>
</div>