<div class="login-section ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-4">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <div class="form-group">
                        <input pattern="^[a-zA-Z]+[a-zA-Z0-9.+]*@[a-zA-Z]+\.\w*$" placeholder="Enter email" type="email" class="form-control" id="email" required name="email" [(ngModel)]="user.email" #email="ngModel" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Enter password" type="password" class="form-control" id="password" required name="password" [(ngModel)]="user.password" #password="ngModel" />
                    </div>
                    <div>
                        <div class="mt-2">
                            <button [disabled]="loginForm.invalid" type="sumbit" class="btn prime col-8 offset-2"> SIGN IN </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="section-create-account">
        <div class="div-opacity"></div>
        <div class="btn-container">
            <a class="btn btn-link btn-create-account" (click)="app.navigateByUrl('/create-account-type', 'slideleft')">Create an account</a>
        </div>
    </div>
</div>