<div class="page-section no-bg">
    <div class="container-fluid">
        <div class="flex flex-center space-between page-head-section">
            <button class="button is-small bg-transparent no-border white" (click)="app.navigateByUrl('/address-list', 'slideright')">BACK</button>
            <h4 class="white">My Machines</h4>
            <button class="button is-small bg-transparent no-border white" (click)="addMachine()">ADD</button>
        </div>
        <div class="primary-divider"></div>
        <div class="search-box">
            <div class="flex flex-center search-container">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search for a machine"/>
                <i class="fa fa-times-circle"></i>
            </div>
        </div>
        <div class="well upperCase">
            <h4 class="subtitle is-6">select a machine</h4>
        </div>
        <div class="machines-list">
            <div class="flex flex-center space-between well-nobg machine" *ngFor="let machine of Machines">
                <div>
                    <p class="capitalize">{{machine.manufacturer.name }}</p>
                    <p class="upperCase">{{machine.modelNumber }}</p>
                    <p>Serial: {{ machine.serialNumber }}</p>  
                    <p class="capitalize">{{ machine.technologyType.name }}</p>
                </div>
                <div>
                    <a>
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>