/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

.lnk-nav {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(85, 26, 139);
}

.page-section {
    min-height: 100vh;
    background: linear-gradient(46deg, #00A153 65%, #21BD47 90%);
}

.btn-back {
    font-weight: normal;
    color: white;
    font-size: 14px;
}