<div class="page-section no-bg address-list">
    <div class="container-fluid">
        <div class="row pt-3 page-head-section">
            <button class="btn btn-link btn-back col-2" (click)="navigationTo('/create-account-code', 'slideright')">BACK</button>
            <div class="col-8 my-address-heading">My Address</div>
        </div>
        <div class="row mt-2">
            <div class="btn prime col-8 offset-2" (click)="createTeam()"> Add an Address </div>
        </div>
    </div>
  </div>